/*Reset och grundinställningar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Typografi*/

body {
    background-color: rgb(241, 234, 225);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 35, 26);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
}

h1, h2, p, ul {
    text-align: justify;    
}

h1 {
    color: rgb(158, 63, 16);
    text-align: center;
    margin-bottom: 0.75em;
}

h2 {
    color: rgb(188, 88, 52);
    margin-bottom: 0.75em;
}

/*Layout och positionering*/

section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 20px;
}

section img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

section.section-1 p,
section.section-1 li {
    margin-bottom: 1em;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    list-style-position: inside;
    align-items: stretch;
}

section li {
    list-style-position: inside;
    text-align: left;
    text-indent: -20px;
    padding-left: 20px;
}

/*Specifika sektioner*/

section.section-2 {
    background-color: rgb(90, 35, 26);
    padding: 50px;
}

section.section-2 h2,
section.section-2 p,
section.section-2 li {
    color: rgb(241, 234, 225);
}

section.section-2 h2 {
    margin-bottom: -5px;
}

section.section-2 li {
    margin-top: 0.5em;
    font-size: small;
    padding-left: 40px;
}

.title-image {
    height: 150px;
    object-fit: cover;
}

.section-3 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-parent {
    display: flex;
    justify-content: center;
}

.box {
    background-color: rgb(90, 35, 26);
    color: rgb(241, 234, 225);
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 7px rgb(145, 134, 134);
}

.description {
    background-color: rgb(227, 219, 208);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 7px rgb(145, 134, 134);
}

.link-text {
    text-align: center;
    margin-top: 20px;
    font-size: small;
}
.links {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 15px;
    font-size: x-small;
}

a {
    color: rgb(90, 35, 26);
    text-decoration: none;
}

/*Komponenter och moduler*/

.work-place {
    font-weight: bold;
    margin-top: 1.5em;
    font-size: 97%;
}

.work-title {
    font-style: italic;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    font-size: 95%;
}

/*Responsiv design*/

@media (max-width: 600px) {
    .two-column-layout {
        grid-template-columns: 1fr;
    }
}

a:hover {
   text-decoration: underline; 
}